*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
nav{
    background:#0082e6;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
}
nav ul{
    float: right;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    text-transform: uppercase;

}
nav ul li a.active,a:hover{
    background: #1b9bff;
}
.checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    display: none;
}
.check{
    display: none;
}
.check:checked ~ul{
    left: 0;
}
@media(max-width:858px){
    .logo{
        font-size: 28px;
    }
    .checkbtn{
        display: none;    
    }
    nav ul{
        width:100%;
        height:100vh;
        background: #2c3e50;
        position: fixed;
        top: 80px;
        left: -100%;
        transition: .5s;
       
    }
    nav ul li{
       display: block; 
       text-align: center;
       line-height: 50px;
       margin: 15px;
    }
}
.hamburger{
    display: block;
    width: 35px;
    cursor: pointer;
}